@font-face {
  font-family: 'heydings_iconsregular';
  src: url('fonts/heydings_icons-webfont.eot');
  src: url('fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/heydings_icons-webfont.woff') format('woff'),
  url('fonts/heydings_icons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.islandora-content-wrapper {
  width:900px;
}

.left-sidebar {
  position:relative;
  float:left;
  width:300px;
  margin:5px;
}

.right-sidebar-header {
  position:relative;
  float:right;
  width:575px;
  height:210px;
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
}

.widget-1 {
  float:left;
  position:relative;
  width:150px;
  height:200px;
  margin:5px;
}

.widget-1 img {
  max-width:150px;
  max-height:200px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.widget-2 {
  float:right;
  text-align:left;
  width:400px;
  height:200px;
  margin:5px;
}

.widget-2-title {
  font-size:14pt;
  margin:5px;
  margin-bottom:35px;
}

.widget-2-content {
  position:relative;
  height:45px;
  margin:10px;
}

.widget-2-image {
  position:relative;
  float:left;
}

#widget-calendar:before {
  font-family: heydings_iconsregular;
  font-size: 2em;
  content: "c";
  margin-right:15px;
}

#widget-pages:before {
  font-family: heydings_iconsregular;
  font-size: 2em;
  content: "D";
  margin-right:15px;
}

.social-icons {
  text-align:center;
}

.social-icons img {
  width: 2em;
  height: auto;
  padding-top:10px;
  padding-left:3px;
  padding-right:3px;
}

[tumblr-icon]:before {
  font-family: EntypoSocialRegular;
  content: attr(tumblr-icon);
  font-size: 4em;
  color:#2C4762;
  padding-left:4px;
  padding-right:8px;
}

[twitter-icon]:before {
  font-family: EntypoSocialRegular;
  content: attr(twitter-icon);
  font-size: 4em;
  color:#7BB6BA;
}

[facebook-icon]:before {
  font-family: EntypoSocialRegular;
  content: attr(facebook-icon);
  font-size: 4em;
  color:#3B5998;
  padding-left:6px;
  padding-right:4px;
}

.widget-link {
  margin:5px;
  margin-top:20px;
  padding:2px;
}

.element {
  padding:10px;
  margin:5px;
}

.attribute {
  font-size:11pt;
  font-weight:bold;
}

.right-sidebar {
  position:relative;
  float:right;
  width:575px;
  max-height: 167px;
  margin:5px;
  margin-top:15px;
  padding-bottom:15px;
  overflow:hidden;
}

/*
.right-sidebar .read-more {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  text-align:right;
  margin:0;
  padding:30px 0;
}
*/

.more {
  padding-left:40px;
  position:relative;
  float:right;
  top:5px;
}

.block-body {
  text-align:center;
}

.letter-block {
  font-size:16pt;
  font-weight:bold;
}

.titles-block-body {
  padding-bottom:12px;
}